@tailwind base;
@tailwind components;
.active{
    color: #f97316;
    position: relative;
    transition: all 1s linear;
}
.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f97316;
    bottom: 8px; /* Positions it below the text */
    left: 0;
    transition: width 0.3s ease-in-out;
}




@tailwind utilities;

.container{
    padding: 40px 70px;
}